---
- name: Outfit the base kde instances in the account
  hosts:  tag_task_kde_cloud_instance

  gather_facts: yes
  remote_user: fedora

  collections:
    - community.general
    - amazon.aws

  vars:
    partition: standard
    fedora_release: 38
    region: us-west-2
    profile: default
    aws_instance_role: kde-cloud-instance-tools-instance
    subnet: subnet-fba35eb1
    aws_vpc_id: vpc-94b6f1ec

  tasks:
    - name: Install KDE desktop
      ansible.builtin.dnf:
        name:
          - "@kde-desktop-environment"
          - firefox
          - "@kde-apps"
          - "@kde-media"
          - "@libreoffice"
          # add libreoffice-draw and libreoffice-math (pagureio:fedora-kde/SIG#103)
          - libreoffice-draw
          - libreoffice-math
          - fedora-release-kde
          ### fixes
          # minimal localization support - allows installing the kde-l10n-* packages
          - kde-l10n
          - fuse
          - krdp-server
        state: present
      become: true

    - name: Remove KDE desktop packages
      ansible.builtin.dnf:
        name:
          - "@admin-tools"
          - tracker-miners
          - tracker
          - ktorrent			# kget has also basic torrent features (~3 megs)
          - digikam			# digikam has duplicate functionality with gwenview (~28 megs)
          - kipi-plugins			# ~8 megs + drags in Marble
          - krusader			# ~4 megs
          - k3b				# ~15 megs
        state: absent
      become: true

    - name: "download Nice-DCV Server 2023.0-15487 on Fedora {{ fedora_release }}"
      ansible.builtin.get_url:
        url: "https://d1uj6qtbmh3dt5.cloudfront.net/2023.0/Servers/nice-dcv-2023.0-15487-el9-x86_64.tgz"
        dest: /tmp/nice-dcv-2023.0-15487-el9-x86_64.tgz
        checksum: sha256:https://d1uj6qtbmh3dt5.cloudfront.net/2023.0/Servers/nice-dcv-2023.0-15487-el9-x86_64.tgz.sha256sum

    - name: "Import Nice-DCV Server 2023.0-15487 on Fedora {{ fedora_release }}"
      ansible.builtin.rpm_key:
        state: present
        key: https://d1uj6qtbmh3dt5.cloudfront.net/NICE-GPG-KEY
      become: true

    - name: "Unarchive the Nice-DCV Server 2023.0-15487 on Fedora {{ fedora_release }}"
      ansible.builtin.unarchive:
        remote_src: yes
        src: /tmp/nice-dcv-2023.0-15487-el9-x86_64.tgz
        dest: /tmp
        list_files: true
      register: nice_dcv_files

    - name: "Install the Nice-DCV Server 2023.0-15487 on Fedora {{ fedora_release }}"
      
