---
- name: Outfit the base kde instances in the account
  hosts:  tag_task_kde_cloud_instance

  gather_facts: yes
  remote_user: fedora

  collections:
    - community.general
    - amazon.aws

  vars:
    partition: standard
    fedora_release: 38
    region: us-west-2
    profile: default
    aws_instance_role: kde-cloud-instance-tools-instance
    subnet: subnet-fba35eb1
    aws_vpc_id: vpc-94b6f1ec

  tasks:
    - name: Switch to Fedora KDE release package
      ansible.builtin.command: "dnf --assumeyes swap fedora-release-cloud fedora-release-kde"
      when: "'fedora-release-cloud' in ansible_facts['packages']"
      become: true
    - name: Switch to Fedora KDE identity package
      ansible.builtin.command: "dnf --assumeyes swap fedora-release-identity-cloud fedora-release-identity-kde"
      when: "'fedora-release-identity-cloud' in ansible_facts['packages']"
      become: true
    - name: Install KDE desktop
      ansible.builtin.dnf:
        name:
          - "@kde-desktop-environment"
          - firefox
          - "@kde-apps"
          - "@kde-media"
          - "@libreoffice"
          # add libreoffice-draw and libreoffice-math (pagureio:fedora-kde/SIG#103)
          - libreoffice-draw
          - libreoffice-math
          ### fixes
          # minimal localization support - allows installing the kde-l10n-* packages
          - kde-l10n
          - fuse
          - krdp-server
          - waypipe
          - weston
        state: present
      become: true
    - name: Install Weston KDE Plasma startup program
      ansible.builtin.copy:
        src: "weston-start-kde-plasma"
        dest: "/usr/local/weston-start-kde-plasma"
        mode: "755"
    - name: Remove KDE desktop packages
      ansible.builtin.dnf:
        name:
          - "@admin-tools"
          - tracker-miners
          - tracker
          - ktorrent			# kget has also basic torrent features (~3 megs)
          - digikam			# digikam has duplicate functionality with gwenview (~28 megs)
          - kipi-plugins			# ~8 megs + drags in Marble
          - krusader			# ~4 megs
          - k3b				# ~15 megs
        state: absent
      become: true
